<p>
  dynamic-form works!
</p>

<form [formGroup]="userInfo" (ngSubmit)="onClickSubmit(userInfo.value)">
  <input type="text" name="name" formControlName="name" placeholder="Enter name">
  <label *ngIf="userInfo.controls['name'].touched && 
                userInfo.controls['name'].invalid"> 
                Not valid, name must be more than 5 symbols </label>
  <br />

  <input type="number" name="age" formControlName="age" placeholder="Enter age">
  <label *ngIf="userInfo.controls['age'].touched && 
                userInfo.controls['age'].invalid"> Not valid, min age is 10</label>
  <br />

  <input type="text" name="email" formControlName="email" placeholder="Enter email">
  <label *ngIf="userInfo.controls['email'].touched && 
                userInfo.controls['email'].invalid"> Required </label>
  <br />

  <label>Gender</label>
  <select name="gender" formControlName="gender">
    <option *ngFor="let g of gender" [value]="g">{{g}}
    </option>
  </select>
  <br />

  <input type="submit" value="Save" [disabled]="userInfo.invalid">
</form>